:root {
    --bg-colour: #FFFDF9;
    --text-colour: #4A5759;
    --accent-colour: #EDAFB8;
    --accent-translucent: #eda5b863;
    --text-colour-translucent: #4a575917;
    --border-svg: url("/assets/border.svg");
}

.momo-trust {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Some Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-colour);
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--bg-colour);
}

a {
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--accent-colour);
}

ul {
    list-style: none;
}

::selection {
    background-color: var(--accent-translucent);
    /*color: var(--text-colour);*/
}

.align-center {
    text-align: center;
}


.about,
.tools,
.projects {
    margin-bottom: 10rem;
}

.inline-icon {
    transform: translateY(15%);
}

/* Main Navigation */
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: var(--bg-colour);
    z-index: 100;
}

.navbar ul {
    display: flex;
    gap: 40px;
    padding: 1.75rem 4rem 1.25rem 4rem;
}

.nav-link {
    font-size: 1.65rem;
}

/* Home Page */
.site-container {
    max-width: 2000px;
    margin: auto;
    background-color: var(--bg-colour);
    border-left: 2px var(--text-colour-translucent) solid;
    border-right: 2px var(--text-colour-translucent) solid;
    position: relative;
}

/* Hero Section */
.hero {
    height: clamp(500px, calc(100vh - 9rem - 1px), 1080px);
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--text-colour-translucent) 1px, transparent 1px),
        linear-gradient(to bottom, var(--text-colour-translucent) 1px, transparent 1px);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.hero-subheading,
.mobile-hero-subheading {
    font-size: 2.5rem;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

.hero-subheading.left {
    align-self: flex-start;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    margin-bottom: -3rem;
}

.hero-subheading.right {
    align-self: flex-end;
    grid-row: 3;
    grid-column: 3;
    align-self: start;
    margin-top: -3rem;
}

.hero-heading {
    width: 100%;
    display: flex;
    grid-column: 1/4;
    grid-row: 2;
}

.hero-heading h1 {
    font-size: 6rem;
    text-align: center;
    border-left: 3px solid var(--text-colour);
    border-right: 3px solid var(--text-colour);
    padding: 0 1rem;
}

.placeholder {
    visibility: hidden;
    font-size: 6rem;
    text-align: center;
    padding: 0 1rem;
    grid-column: 2;
    grid-row: 1;
}

.hero-heading::before,
.hero-heading::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid var(--text-colour);
    margin: auto;
}

.mobile-hero-subheading.hidden {
    display: none;
}

.section-heading {
    font-family: "Geologica", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    padding: 0 5%;
}

section {
    width: 100%;
}

em {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2.65rem;
    color: var(--accent-colour);
}

.see-more {
    text-decoration: underline;
    font-size: 1.5rem;
}

.see-more>svg {
    transform: translateY(25%);
    transition: transform 0.2s ease;
}

.see-more:hover>svg {
    transform: translate(50%, 25%);
}

/* Horizontal Scroll*/
.horizontal-scroll {
    width: 100%;
    overflow: hidden;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-image: var(--border-svg) 13 round;
}

.scroller {
    font-size: 2rem;
    font-weight: 200;
    animation: marquee 25s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.scroller>span {
    display: inline-block;
    transition: transform 0.3s ease-out;
    padding: 1rem 0.3rem;
    font-size: 2rem;
    cursor: default;
    font-family: monospace;
    opacity: 70%;
}

.scroller>span:hover {
    transform: translateY(-20px);
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 8rem;
}

.about-content {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-content>:nth-child(2) {
    align-self: flex-end;
    padding-right: 4rem;
}

.about-heading {
    max-width: 940px;
}

.profile {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: var(--text-colour);
}

/* Tool Section */
.tools>.section-heading {
    margin-bottom: 1.75rem;
}

.tool-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1400px;
    margin: auto;
}

.tool {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 275px;
    min-height: 4.75rem;
    border: 2px solid var(--text-colour);
    border-radius: 5px;
    padding: 0.5rem;
}

.tool-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool-info>h6 {
    font-size: 1.75rem;
    line-height: 2rem;
}

.tool-info>p {
    font-size: 0.9rem;
}

/* Projects Section */
.project-container {
    min-height: 10rem;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--text-colour-translucent) 1px, transparent 1px),
        linear-gradient(to bottom, var(--text-colour-translucent) 1px, transparent 1px);
}

.projects>.section-heading:first-child {
    margin-bottom: -1.5rem;
    text-align: right;
}

.projects>.section-heading:last-child {
    margin-top: -3rem;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5rem 0 8rem 0;
    width: 75%;
    margin: auto;
    row-gap: 5rem;
}

.project-card {
    border: 4px solid var(--text-colour);
    border-radius: 5px;
    box-shadow: 10px 10px 0 var(--accent-colour);
    padding: 1.5rem;
    background-color: var(--bg-colour);
    max-width: fit-content;
    max-height: fit-content;
    align-self: center;
    justify-self: center;
}

.project-card>img {
    margin: auto;
    height: 250px;
    width: 375px;
    background-color: var(--text-colour);
    border-radius: 5px;
}

.project-card>h4 {
    font-family: "Geologica";
    font-weight: 500;
    text-align: left;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.project-card>div {
    display: flex;
}

.tags {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-left: 1rem;
}

.tags>* {
    position: relative;
    font-weight: 400;
    z-index: 1;
}

.tags>*::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--accent-colour);
    bottom: 4px;
    left: 10%;
    z-index: -1;
}

.project-card:nth-child(1) {
    top: 0;
    right: 0;
}

.project-card:nth-child(2) {
    top: 0;
    left: 0;
}

.project-card:nth-child(3) {
    bottom: 0;
    left: 0;
}

.project-card:nth-child(4) {
    bottom: 0;
    right: 0;
}



/* Footer */
footer {
    padding: 2rem 3rem;
    border-top: 12px solid transparent;
    border-image: var(--border-svg) 13 round;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}

.footer-heading {
    font-family: "Geologica", sans-serif;
    font-weight: 300;
    margin-bottom: 1.75rem;
}

.footer-bottom {
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

/* ICONS */
.tag-icon {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/assets/Tag.svg");
}