:root {
    --bg-colour: #FFFDF9;
    --text-colour: #4A5759;
    --accent-colour: #EDAFB8;
    --text-colour-translucent: #4a575917;
}

.momo-trust {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Some Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-colour);
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--bg-colour);
}

a {
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--accent-colour);
}

ul {
    list-style: none;
}

.align-center {
    text-align: center;
}

/* Main Navigation */
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: var(--bg-colour);
}

.navbar ul {
    display: flex;
    gap: 40px;
    padding: 1.75rem 4rem 1.25rem 4rem;
}

.nav-link {
    font-size: 2rem;
}

/* Home Page */
.site-container {
    max-width: 2000px;
    margin: auto;
    background-color: var(--bg-colour);
    border-left: 2px var(--text-colour-translucent) solid;
    border-right: 2px var(--text-colour-translucent) solid;
    position: relative;
}

/* Hero Section */
.hero {
    min-height: calc(100vh - 9rem - 1px);
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--text-colour-translucent) 1px, transparent 1px),
        linear-gradient(to bottom, var(--text-colour-translucent) 1px, transparent 1px);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 6rem;
    text-align: center;
}

.section-heading {
    font-family: "Geologica", sans-serif;
    font-weight: 500;
    font-size: 3.75rem;
}

em {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--accent-colour);
}

/* Horizontal Scroll*/
.horizontal-scroll {
    border: 2px solid var(--text-colour);
    height: 4rem;
}

/* About Section */

/* Projects Section */
.project-container {
    min-height: 10rem;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--text-colour-translucent) 1px, transparent 1px),
        linear-gradient(to bottom, var(--text-colour-translucent) 1px, transparent 1px);
}

.projects>.section-heading:first-child {
    margin-bottom: -1.5rem;
    text-align: right;
}

.projects>.section-heading:last-child {
    margin-top: -3rem;
}

/* Footer */
footer {
    padding: 1rem 3rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-heading {
    font-family: "Geologica", sans-serif;
    font-weight: 300;
}

.footer-bottom {
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: space-between;
}