:root {
    --bg-popup: #ebebeb;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 4rem;
}

.about-picture {
    grid-column: 1;
    position: relative
}

.grey-circle,
.pink-circle {
    content: "";
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.pink-circle {
    background-color: var(--accent-colour);
    width: 55%;
    top: 8%;
    right: 10%;
}

.grey-circle {
    bottom: 5%;
    left: 10%;
    background-color: var(--text-colour);
    width: 62%;
}

.about-section {
    grid-column: 2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;

}

.about-paragraph {
    padding: 2rem 0;
}

.about-paragraph>p,
.popup-btn {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
}

sup {
    color: var(--accent-colour);
    font-weight: 600;
    padding-left: 0.2rem;
    font-size: 80%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5rem;
    transition: top 0.1s ease-out;
}

.popup-btn {
    transition: color 0.2s ease-out;
    cursor: pointer;
}


.popup-btn:hover {
    color: var(--accent-colour);
}

.popup-btn:hover sup {
    top: -0.75rem;
}

@keyframes popup {
    from {
        transform: scale(0);
    }

    85% {
        transform: scale(1.15);
    }

    to {
        transform: scale(1);
    }
}

.popup {
    position: absolute;
    width: 325px;
    background-color: var(--bg-popup);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0.5rem;
    animation: popup 0.2s ease;
    cursor: default;
}

.popup-header {
    display: flex;
    justify-content: flex-end;
    cursor: grab;
    margin: -0.5rem;
    position: relative;
}

.popup-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 3%;
    width: 94%;
    height: 1px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.popup-header:active {
    cursor: grabbing;
}

.popup-header>button {
    position: relative;
    aspect-ratio: 1 /1;
    width: 1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.popup-header>button::before,
.popup-header>button::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 2px;
    border-radius: 2px;
    background-color: rgb(207, 4, 4);
    transition: background-color 0.2s ease;
}

.popup-header>button::before {
    transform: rotate(45deg);
}

.popup-header>button::after {
    transform: rotate(-45deg);
}

.popup-header>button:hover {
    background-color: #00000000;
}

.popup-header>button:hover::before,
.popup-header>button:hover::after {
    background-color: rgb(255, 9, 9);
}


.popup p {
    padding: 1.25rem 0.75rem 0.75rem 0.75rem;
}

.popup * {
    font-size: 1rem;
    font-weight: 400;
}

.popup em {
    color: var(--text-colour);
}

.popup a {
    font-style: italic;
    /* text-decoration: underline; */
}



@media (max-width: 1200px) {
    .about-container {
        display: flex;
        justify-content: center;
    }

    .about-picture {
        display: none;
    }
}