.project-container {
    padding: 5rem 0;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.project-card:nth-child(1),
.project-card:nth-child(2),
.project-card:nth-child(3),
.project-card:nth-child(4) {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
}