.filter-bar {
    display: flex;
    border-bottom: 12px solid transparent;
    border-image: var(--border-svg) 13 round;
    padding: 1rem 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.filter-container,
.filter-container>ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container>h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

.filters {
    gap: 1.25rem;
    margin-left: 1rem;
}

.filter-btn {
    border: none;
    background-color: #00000000;
    font-size: 1.15rem;
}

.filter-btn:hover {
    cursor: pointer;
    background-color: alpha(from var(--accent-colour) / 25%);
}

.filter-btn[aria-pressed="true"] {
    border-bottom: 4px solid var(--accent-colour);
}

.search-container>input {
    border: 2px solid var(--text-colour);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}

.project-container {
    padding: 3rem 0;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.project-page-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 0.9;
    padding: 1.25rem;
    width: clamp(350px, 35%, 400px);
    border: 4px solid var(--text-colour);
    border-radius: 10px;
    background-color: var(--bg-colour);
    color: var(--text-colour);
    box-shadow: 10px 10px 0 var(--accent-colour);
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.link-title {
    font-family: "Geologica", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.desc {
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.project-tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.project-tags>* {
    position: relative;
    font-weight: 400;
    font-size: 0.9rem;
    z-index: 5;
}

.project-tags>*::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: var(--accent-colour);
    border-radius: 2px;
    bottom: 0px;
    left: 5%;
    z-index: -1;
}

.date {
    font-size: 1.25rem;
    align-self: flex-end;
    justify-self: flex-end;
}

.project-page-link:hover {
    box-shadow: 15px 15px 0 var(--accent-colour);
    transform: translateY(-5px);
    cursor: pointer;
}

.project-page-link.hidden {
    display: none;
}