:root {
    --bg-colour: #FFFDF9;
    --text-colour: #4A5759;
    --accent-colour: #EDAFB8;
    --accent-translucent: #eda5b863;
    --text-colour-translucent: #4a575917;
    --border-svg: url("/assets/border.svg");

    --project-card-width: 430px;
    --project-card-height: 375px;
}

.momo-trust {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Some Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-colour);
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--bg-colour);
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--accent-colour);
}

ul {
    list-style: none;
}

.button {
    margin-top: 1.5rem;
    border: 2px solid var(--text-colour);
    border-radius: 5px;
    box-shadow: 8px 8px 0 var(--accent-colour);
    font-family: "Geologica", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -3%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 0.5rem 2.25rem;
    width: fit-content;
    background-color: var(--bg-colour);
}

.button:hover {
    color: var(--text-colour);
    transform: translateY(-2px);
    box-shadow: 12px 14px 0px var(--accent-colour);
    background-color: var(--bg-colour);
    cursor: pointer;
}

.button:active {
    transform: translateY(8px);
    box-shadow: 0px 0px 0px var(--accent-colour);
}

::selection {
    background-color: var(--accent-translucent);
    /*color: var(--text-colour);*/
}

.align-center {
    text-align: center;
    /*padding: 5rem;*/
}

.align-left {
    text-align: left;
    padding-left: 5rem;
}

.align-right {
    text-align: right;
    padding-right: 5rem;
}


.about,
.tools,
.projects {
    margin-bottom: 10rem;
}

.inline-icon {
    transform: translateY(15%);
}

.page-heading {
    width: 100%;
    padding: 1.5rem 5rem;
    border-bottom: 12px solid transparent;
    border-image: var(--border-svg) 13 round;
}

.page-heading>h1 {
    font-family: "Geologica", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    max-width: 800px;
}

.page-heading>h1>em {
    font-family: "Fraunces", serif;
    font-weight: 800;
    font-size: 3.15rem;
    color: var(--accent-colour);
}



/* Main Navigation */
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: var(--bg-colour);
    z-index: 100;
}

.navbar ul {
    display: flex;
    gap: 40px;
    padding: 1.75rem 4rem 1.25rem 4rem;
}

.nav-link {
    font-size: 1.65rem;
    position: relative;
}

@keyframes line-grow {
    from {
        width: 10%;
        left: 45%;
    }

    50% {
        width: 6%;
        left: 47%;
    }

    75% {
        width: 105%;
        left: 0;
    }

    to {
        width: 90%;
        left: 5%;
    }
}

.nav-link.current::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-colour);
    bottom: -4px;
    left: 5%;
    z-index: -1;
    animation: line-grow 0.6s linear;
}


/* Home Page */
.site-container {
    max-width: 2000px;
    margin: auto;
    background-color: var(--bg-colour);
    border-left: 2px var(--text-colour-translucent) solid;
    border-right: 2px var(--text-colour-translucent) solid;
    position: relative;
}

/* Hero Section */
.hero {
    height: clamp(500px, calc(100vh - 9rem - 1px), 1080px);
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--text-colour-translucent) 1px, transparent 1px),
        linear-gradient(to bottom, var(--text-colour-translucent) 1px, transparent 1px);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.hero-subheading,
.mobile-hero-subheading {
    font-size: 2.5rem;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

.hero-subheading.left {
    align-self: flex-start;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    margin-bottom: -3rem;
}

.hero-subheading.right {
    align-self: flex-end;
    grid-row: 3;
    grid-column: 3;
    align-self: start;
    margin-top: -3rem;
}

.hero-heading {
    width: 100%;
    display: flex;
    grid-column: 1/4;
    grid-row: 2;
}

.hero-heading h1 {
    font-size: 6rem;
    text-align: center;
    border-left: 3px solid var(--text-colour);
    border-right: 3px solid var(--text-colour);
    padding: 0 1rem;
}

.placeholder {
    visibility: hidden;
    font-size: 6rem;
    text-align: center;
    padding: 0 1rem;
    grid-column: 2;
    grid-row: 1;
}

.hero-heading::before,
.hero-heading::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid var(--text-colour);
    margin: auto;
}

.mobile-hero-subheading {
    display: none;
}

.section-heading {
    font-family: "Geologica", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    z-index: 26;
    position: relative;
}

section {
    width: 100%;
}

em {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2.65rem;
    color: var(--accent-colour);
}

.see-more {
    text-decoration: underline;
    font-size: 1.5rem;
}

.see-more>svg {
    transform: translateY(25%);
    transition: transform 0.2s ease;
}

.see-more:hover>svg {
    transform: translate(50%, 25%);
}

/* Horizontal Scroll*/
.horizontal-scroll {
    width: 100%;
    overflow: hidden;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-image: var(--border-svg) 13 round;
}

.scroller {
    font-size: 2rem;
    font-weight: 200;
    animation: marquee 25s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.scroller>span {
    display: inline-block;
    transition: transform 0.3s ease-out;
    padding: 1rem 0.3rem;
    font-size: 2rem;
    cursor: default;
    font-family: "Noto Sans", monospace;
    opacity: 70%;
}

.scroller>span:hover {
    transform: translateY(-20px);
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.about-content {
    max-width: 740px;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-content>:nth-child(2) {
    align-self: flex-end;
    padding-right: 4rem;
}

.about-heading {
    max-width: 700px;
}

.profile {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: var(--text-colour);
}

/* Tool Section */
.tools>.section-heading {
    margin-bottom: 1.75rem;
}

.tool-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 80%;
    margin: auto;
}

.tool {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 275px;
    min-height: 4.75rem;
    border: 2px solid var(--text-colour);
    border-radius: 5px;
    padding: 0.5rem;
}

.tool-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool-info>h6 {
    font-size: 1.75rem;
    line-height: 2rem;
}

.tool-info>p {
    font-size: 0.9rem;
}

/* Projects Section */
.projects-bg {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, var(--text-colour-translucent) 1px, transparent 1px),
        linear-gradient(to bottom, var(--text-colour-translucent) 1px, transparent 1px);
}

.projects>.section-heading:first-child {
    margin-bottom: -1.75rem;
    text-align: right;
}

.projects>.section-heading:last-child {
    margin-top: -1.75rem;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    padding: 8rem 0;
    margin: auto;
    width: min(calc(3.5 * var(--project-card-width)), 100%);
    position: relative;
}

.dotted-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(2 * var(--project-card-width));
    height: calc(1.75 * var(--project-card-width) - 50px);
    border: 3px dashed var(--text-colour);
    border-radius: 50%;
    z-index: 0;
}

.project-card {
    position: relative;
    width: var(--project-card-width);
    height: var(--project-card-height);
    z-index: 1;
    align-self: center;
    justify-self: center;
}

.project-card::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: var(--accent-colour);
    z-index: -1;
    transition: transform 0.6s ease;
}

.project-card-content {
    height: 100%;
    width: 100%;
    border: 4px solid var(--text-colour);
    border-radius: 5px;
    background-color: var(--bg-colour);
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    position: relative;
}

.project-card:hover .project-card-content {
    transform: rotateY(-180deg);
    cursor: default;
}

.project-card:hover.project-card::after {
    transform: translate(5px, 10px);
}

.card-front,
.card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--bg-colour);
    height: 100%;
    width: 100%;
    padding: 1.5rem;
}

.card-back {
    transform: rotateY(-180deg);
    z-index: 6;
}

.card-front>img {
    margin: auto;
    height: 250px;
    width: 375px;
    background-color: var(--text-colour);
    border-radius: 5px;
}

.card-front>h4 {
    font-family: "Geologica";
    font-weight: 500;
    text-align: left;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.card-front>div {
    display: flex;
}

.tags {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-left: 1rem;
    background-color: var(--bg-colour);
}

.tags>* {
    position: relative;
    font-weight: 400;
    z-index: 5;
}

.tags>*::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--accent-colour);
    border-radius: 2px;
    bottom: 4px;
    left: 10%;
    z-index: -1;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-links {
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.project-card:nth-child(1) {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    justify-self: start;
}

.project-card:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    justify-self: center;
    margin-bottom: -10rem;
}

.project-card:nth-child(3) {
    grid-row: 2;
    grid-column: 3;
    align-self: start;
    justify-self: center;
    margin-top: -10rem;
}

.project-card:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
    align-self: start;
    justify-self: end;
}

.project-link {
    grid-row: 3;
    grid-column: 3;
    position: relative;
}

.project-link>.see-more {
    position: absolute;
    text-wrap-mode: nowrap;
    bottom: 50%;
    left: 35%;
}



/* Footer */
footer {
    padding: 2rem 3rem;
    border-top: 12px solid transparent;
    border-image: var(--border-svg) 13 round;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}

.footer-heading {
    font-family: "Geologica", sans-serif;
    font-weight: 300;
    margin-bottom: 1.75rem;
}

.footer-bottom {
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

/* ICONS */
.tag-icon {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/assets/Tag.svg");
}

@media (max-width: 1305px) {
    .project-card-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .project-card:nth-child(1),
    .project-card:nth-child(2),
    .project-card:nth-child(3),
    .project-card:nth-child(4) {
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
        justify-self: center;
    }

    .project-link {
        position: unset;
        width: 435px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }

    .project-link>.see-more {
        position: static;
        padding: 0;
    }

    .dotted-circle {
        display: none;
    }

    .hero-subheading {
        display: none;
    }

    .mobile-hero-subheading {
        display: block;
        padding: 3rem 0 5rem 0;
        font-size: 2rem;
    }

    .hero-grid {
        display: flex;
        flex-direction: column;
    }

    .placeholder {
        display: none;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0;
    }

    .align-left {
        text-align: left;
        padding-left: 1rem;
    }

    .align-right {
        text-align: right;
        padding-right: 1rem;
    }
}